$color-gray-50: #e6ece7;
$color-gray-100: #d6f1db;
$color-gray-200: #b8d9bd;
$color-gray-300: #a5daac;
$color-gray-400: #7cc483;
$color-gray-500: #73cc7e;
$color-gray-600: #4ca658;
$color-gray-700: #288534;
$color-gray-800: #13571c;
$color-gray-900: #053d09;

$color-blue-50: #e3d5ff;
$color-blue-100: #6f31ff;
$color-blue-200: #6516ff;
$color-blue-300: #600ef6;
$color-blue-400: #4809cc;
$color-blue-500: #300385;
$color-blue-600: #2c0479;
$color-blue-700: #210360;
$color-blue-800: #1d0251;
$color-blue-900: #0f0128;

$color-primary: $color-blue-500;
