$color-blue-50: #e3d5ff;
$color-blue-100: #6f31ff;
$color-blue-200: #6516ff;
$color-blue-300: #600ef6;
$color-blue-400: #4809cc;
$color-blue-500: #300385;
$color-blue-600: #2c0479;
$color-blue-700: #210360;
$color-blue-800: #1d0251;
$color-blue-900: #0f0128;

$color-green-50: #e6ece7;
$color-green-100: #d6f1db;
$color-green-200: #b8d9bd;
$color-green-300: #a5daac;
$color-green-400: #7cc483;
$color-green-500: #73cc7e;
$color-green-600: #4ca658;
$color-green-700: #288534;
$color-green-800: #13571c;
$color-green-900: #053d09;

$color-primary: $color-green-500;

$color-gray-500: #9e9e9e;
