@import "styles/settings/__settings";
//
// menu.scss
//

.topnav {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 999;
  background-color: $white;
  border: 0;
  transition: all 0.5s ease;
  .logo {
    float: left;
    color: $dark !important;
    .l_dark,
    .logo_dark_mode {
      display: none;
    }
    .l_light,
    .logo_light_mode {
      display: inline-block;
    }
    &:focus {
      outline: none;
    }
  }
  .has_submenu {
    &.active {
      a {
        color: $white;
      }
      .submenu {
        li.active > a {
          color: $color-blue-700 !important;
        }
      }
      &.active {
        .menu_arrow {
          border-color: $color-blue-700;
        }
      }
    }
  }
  .menu_extras {
    position: relative;
    .submenu {
      .submenu_arrow {
        border: solid $dark;
        border-radius: 0.5px;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(-45deg);
        position: absolute;
        right: 20px;
        top: 14px;
      }
      .has_submenu {
        &:hover {
          .submenu-arrow {
            border-color: $color-blue-700;
          }
        }
      }
    }
  }
  .navbar_toggle {
    border: 0;
    position: relative;
    width: 60px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    .lines {
      width: 25px;
      display: block;
      position: relative;
      margin: 28px 20px;
      height: 18px;
    }
    span {
      height: 2px;
      width: 100%;
      background-color: $dark;
      display: block;
      margin-bottom: 5px;
      transition: transform 0.5s ease;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .navbar_toggle {
    &.open {
      span {
        position: absolute;
        &:first-child {
          top: 6px;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          visibility: hidden;
        }
        &:last-child {
          width: 100%;
          top: 6px;
          transform: rotate(-45deg);
        }
        &:hover {
          background-color: $color-blue-700;
        }
      }
    }
  }
  .navbar_toggle {
    &:hover,
    &:focus,
    .navigation_menu > li > a:hover,
    &:focus {
      background-color: transparent;
    }
  }

  .navigation_menu {
    list-style: none;
    margin: 0;
    padding: 0;
    > li {
      float: left;
      display: block;
      position: relative;
      margin: 0 10px;
      &:hover > a,
      > a {
        display: block;
        color: $dark;
        font-size: 13px;
        background-color: transparent !important;
        font-weight: 700;
        letter-spacing: 1px;
        line-height: 24px;
        text-transform: uppercase;
        transition: all 0.5s;
        font-family: $font-family-default;
        padding-left: 15px;
        padding-right: 15px;
        text-decoration: none !important;
        &:hover,
        &.active {
          color: $color-blue-700;
        }
      }
    }
    .has_submenu {
      .menu_arrow {
        border: solid $dark;
        border-radius: 0.5px;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(45deg);
        position: absolute;
        transition: all 0.5s;
        right: -1px;
        top: 30px;
      }
      &:hover {
        .menu_arrow {
          transform: rotate(225deg);
        }
      }
    }
  }
  .menu_extras {
    float: right;
  }

  &.scroll {
    background-color: $white;
    border: none;
    box-shadow: $shadow;
    .navigation_menu {
      > li {
        > a {
          color: $dark;
        }

        > .menu_arrow {
          border-color: $dark;
        }
        &:hover,
        &.active {
          > a {
            color: $color-blue-700;
          }
          > .menu_arrow {
            border-color: $color-blue-700;
          }
        }
      }
    }
  }

  &.defaultscroll {
    &.dark_menubar {
      .logo {
        line-height: 70px;
      }
    }
    &.scroll {
      .logo {
        line-height: 62px;
      }
      &.dark_menubar {
        .logo {
          line-height: 62px;
        }
      }
    }
  }

  &.nav_sticky {
    background: $white;
    box-shadow: $shadow;
    .navigation_menu {
      &.nav_light {
        > li {
          > a {
            color: $dark;
            &.active {
              color: $color-blue-700 !important;
            }
          }
          &:hover,
          &.active {
            > .menu_arrow {
              border-color: $color-blue-700 !important;
            }
            > a {
              color: $color-blue-700 !important;
            }
          }
        }
        .has_submenu {
          .menu_arrow {
            border-color: $dark;
          }
        }
      }
    }
    &.tagline_height {
      top: 0 !important;
    }

    .logo {
      .l_dark {
        display: inline-block;
      }
      .l_light {
        display: none;
      }
    }
  }
}

@media (min-width: 1025px) {
  .topnav {
    .navigation_menu {
      > li {
        .submenu {
          &.megamenu {
            width: 1116px !important;
            > li {
              min-width: 223px !important;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) and (min-width: 992px) {
  .topnav {
    .navigation_menu {
      > li {
        .submenu {
          &.megamenu {
            width: 936px !important;
            > li {
              min-width: 180px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .topnav {
    .navigation_menu {
      display: flex;
      justify-content: flex-end;
      > .has_submenu {
        &:hover {
          .menu_arrow {
            top: 33px !important;
          }
        }
        &.active {
          .menu_arrow {
            top: 30px;
          }
        }
      }
      > li {
        .submenu {
          position: absolute;
          top: 100%;
          left: 0;
          z-index: 1000;
          padding: 15px 0;
          list-style: none;
          min-width: 180px;
          visibility: hidden;
          opacity: 0;
          margin-top: 10px;
          transition: all 0.2s ease;
          border-radius: 6px;
          background-color: $white;
          box-shadow: $shadow;
          li {
            position: relative;
            a {
              display: block;
              padding: 10px 20px;
              clear: both;
              white-space: nowrap;
              font-size: 11px;
              text-transform: uppercase;
              letter-spacing: 0.04em;
              font-weight: 700;
              color: $dark !important;
              transition: all 0.3s;
              &:hover {
                color: $color-blue-700 !important;
              }
            }
            ul {
              list-style: none;
              padding-left: 0;
              margin: 0;
            }
          }
          &.megamenu {
            white-space: nowrap;
            left: 50%;
            transform: translateX(-50%);
            position: fixed;
            top: auto;
            > li {
              overflow: hidden;
              display: inline-block;
              vertical-align: top;
              .submenu {
                left: 100%;
                top: 0;
                margin-left: 10px;
                margin-top: -1px;
              }
            }
          }
          > li {
            .submenu {
              left: 101%;
              top: 0;
              margin-left: 10px;
              margin-top: -1px;
            }
          }
        }
        > a {
          padding-top: 25px;
          padding-bottom: 25px;
          min-height: 62px;
        }
        &:hover {
          > .menu-arrow {
            border-color: $color-blue-700;
          }
        }
        &:hover > a,
        &.active > a {
          color: $color-blue-700 !important;
        }

        &.last-elements {
          .submenu {
            left: auto;
            right: 0;
            &:before {
              left: auto;
              right: 10px;
            }
            > li.has-submenu .submenu {
              left: auto;
              right: 100%;
              margin-left: 0;
              margin-right: 10px;
            }
          }
        }
      }
      &.nav_light {
        > li {
          > a {
            color: rgba($white, 0.5);
            &.active {
              color: $white;
            }
          }
          &:hover {
            > .menu-arrow {
              border-color: $white !important;
            }
            > a {
              color: $white !important;
            }
          }
        }
        .has_submenu {
          .menu_arrow {
            border-color: rgba($white, 0.5);
          }
          &.active {
            .menu_arrow {
              border-color: $white !important;
            }
          }
        }
      }

      &.nav_right {
        justify-content: flex-end !important;
      }

      &.nav_left {
        justify-content: flex-start !important;
        > li {
          &.last_elements {
            .submenu {
              left: 0 !important;
              right: auto !important;
              &:before {
                left: 45px !important;
                right: auto !important;
              }
            }
          }
        }
      }
    }
    .navbar_toggle {
      display: none;
    }
    .navigation {
      display: block !important;
    }
    &.scroll {
      top: 0;
      .navigation_menu {
        > li {
          > a {
            padding-top: 20px;
            padding-bottom: 20px;
          }
        }
      }
    }
    &.scroll_active {
      .navigation_menu {
        > li {
          > a {
            padding-top: 25px;
            padding-bottom: 25px;
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .topnav {
    background-color: $white;
    box-shadow: $shadow;
    min-height: 74px;
    .logo {
      .l_dark {
        display: inline-block !important;
      }
      .l_light {
        display: none !important;
      }
    }
    .container {
      width: auto;
    }

    .navigation {
      height: 1200px;
    }
    .navigation_menu {
      float: none;
      > li {
        float: none;
        .submenu {
          display: none;
          list-style: none;
          padding-left: 20px;
          margin: 0;
          li {
            a {
              display: block;
              position: relative;
              padding: 7px 15px;
              text-transform: uppercase;
              font-size: 11px;
              letter-spacing: 0.04em;
              font-weight: 700;
              color: $dark !important;
              transition: all 0.3s;
            }
          }
          &.open {
            display: block;
          }
          .submenu {
            display: none;
            list-style: none;
            &.open {
              display: block;
            }
          }
          &.megamenu {
            > li {
              > ul {
                list-style: none;
                padding-left: 0;
                > li {
                  > span {
                    display: block;
                    position: relative;
                    padding: 10px 15px;
                    text-transform: uppercase;
                    font-size: 12px;
                    letter-spacing: 2px;
                    color: $muted;
                  }
                }
              }
            }
          }
        }
        > a {
          color: $dark;
          padding: 10px 20px;
          &:after {
            position: absolute;
            right: 15px;
          }
        }
      }
    }
    .navigation_menu > li > a:hover,
    .navigation_menu > li .submenu li a:hover,
    .navigation_menu > li.has_submenu.open > a {
      color: $color-blue-700;
    }
    .menu_extras .menu_item {
      border-color: $muted;
    }
    .navbar_header {
      float: left;
    }
  }
  .topnav {
    .has_submenu {
      .submenu {
        .submenu_arrow {
          transform: rotate(45deg);
          position: absolute;
          right: 20px;
          top: 12px;
        }
      }
      &.active {
        a {
          color: $color-blue-700;
        }
      }
    }
  }

  .navigation {
    position: absolute;
    top: 74px;
    left: 0;
    width: 100%;
    display: none;
    height: auto;
    padding-bottom: 0;
    overflow: auto;
    border-top: 1px solid darken($light, 2%);
    border-bottom: 1px solid darken($light, 2%);
    background-color: $white;
    &.open {
      display: block;
      overflow-y: auto;
    }
  }
}
@media (max-width: 768px) {
  .topnav {
    .navigation_menu {
      .has_submenu {
        .menu_arrow {
          right: 16px;
          top: 16px;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .topnav {
    .navigation_menu {
      > li {
        &.has_submenu {
          &:hover {
            > .submenu {
              visibility: visible;
              opacity: 1;
              margin-top: 0;
              > li {
                &.has_submenu {
                  &:hover {
                    > .submenu {
                      visibility: visible;
                      opacity: 1;
                      margin-left: 0;
                      margin-right: 0;
                      // > li{
                      //     &:hover {
                      //         > .submenu {
                      //             visibility: visible;
                      //             opacity: 1;
                      //             margin-left: 0;
                      //             margin-right: 0;
                      //         }
                      //     }
                      // }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .navbar_toggle {
    display: block;
  }
}

@media (max-width: 375px) {
  .topnav {
    .navbar_toggle {
      .lines {
        margin-right: 0 !important;
      }
    }
  }
}

//Tagline
.tagline {
  position: absolute;
  width: 100%;
  z-index: 99;
  font-size: 14px;
  padding: 13px 0;
  @media screen and (max-width: 575px) {
    display: none;
  }
}

.tagline_height {
  @media screen and (max-width: 575px) {
    top: 0 !important;
  }

  @media (min-width: 576px) {
    top: 47px !important;
  }
}

//Sidebar-nav
.sidebar_nav {
  padding: 15px 0;
  > .navbar_item {
    padding: 3px 15px;
    .navbar_link {
      color: $dark !important;
      font-size: 15px;
      font-weight: 600;
      .navbar_icon {
        font-size: 18px;
        margin-right: 6px;
      }
    }
  }
}

.navmenu_nav {
  li {
    &.active {
      a {
        color: $color-blue-700;
      }
    }
    &.account_menu {
      &.active,
      &:hover {
        .navbar_link {
          color: $white !important;
          background-color: $color-blue-700 !important;
        }
      }
    }
  }
}

.navSearch {
  flex-grow: 0;
  margin-left: 1em;
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1em;

    @media (min-width: 480px) {
      justify-content: flex-end;
      margin-right: -1rem;
    }
  }

  input {
    font-size: 0.845em;
  }

  button {
    font-size: 1.2em;
    background: none;
    padding: 1.045em;
    border: none;
    outline: none;
    cursor: pointer;

    &[disabled] {
      svg {
        fill: $color-blue-200;
        transition: fill 0.5s;
      }
    }

    svg {
      fill: $color-blue-400;
      transform: translateY(2px);
    }

    &:focus {
      svg {
        fill: $color-primary;
      }
    }
  }
}

.navSearchResults {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: 100vw;
  background-color: white;
  padding: 1.5em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  border-top: solid 5px $color-primary;
  margin-right: -1rem;
  z-index: 999;

  @media (min-width: 480px) {
    width: 30em;
    margin-right: 0;
  }

  [data-search-is-active="true"] & {
    display: block;
  }

  p {
    line-height: 1.15;
    margin: 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: -0.5em 0;
  }

  a {
    display: block;
    color: $color-blue-800;
    text-decoration: none;
    padding: 0.5em;
    margin: 0 -0.5em;
    &:focus {
      outline: 2px solid $color-green-500;
    }

    @media (hover: hover) {
      &:hover {
        color: $color-primary;
      }
    }
  }
}
